@font-face {
    font-family: 'Lt';
    src: url('../fonts/light/HelveticaNeue-Light.eot');
    src: url('../fonts/light/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/light/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/light/HelveticaNeue-Light.woff') format('woff'),
        url('../fonts/light/HelveticaNeue-Light.ttf') format('truetype'),
        url('../fonts/light/HelveticaNeue-Light.svg#Lt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Md';
    src: url('../fonts/medium/HelveticaNeue-Medium.eot');
    src: url('../fonts/medium/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/medium/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fonts/medium/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/medium/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/medium/HelveticaNeue-Medium.svg#Md') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Regular';
    src: url('../fonts/regular/HelveticaNeue.eot');
    src: url('../fonts/regular/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular/HelveticaNeue.woff2') format('woff2'),
        url('../fonts/regular/HelveticaNeue.woff') format('woff'),
        url('../fonts/regular/HelveticaNeue.ttf') format('truetype'),
        url('../fonts/regular/HelveticaNeue.svg#Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}