/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
} */

@import url(../public/assets/css/fonts.css);

body {
  font-family: 'Md';
}

p {
  font-family: 'Regular';
}

.right-nav {
  justify-content: end;
}

.footer {
  background-color: #0054A6;
  /* Replace with the exact color code you want */
  color: white;
  font-family: 'Arial', sans-serif;
  /* Replace with the font used in the design */
}

.footer h5,
.footer h6 {
  color: #ffffff;
  padding-bottom: 0;
  font-family: 'Md';
  font-size: 20px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #dddddd;
  /* Lighten the color a bit when hovering */
}

.footer .social-media a {
  font-size: 1.2rem;
  /* Adjust size as needed, and use actual icons */
}

.footer .social-media i {
  padding-right: 0.5rem;
}

.footer .btn {
  margin-top: 1rem;
  border-color: #ffffff;
  /* Button border color */
}

.footer ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.footer ul li {
  line-height: 15px;
}

.footer ul li a {
  padding: 0.25rem 0;
  display: block;
  font-family: 'Lt';
  font-size: 14px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer .footer-text {
  font-family: 'Regular';
  margin-bottom: 0;
  margin-top: 16px;
}

.custom-btn {
  font-family: 'Lt';
  color: #000;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 25px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -mos-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}



.custom-btn:hover,
.custom-btn:focus {
  font-family: 'Lt';
  background-color: #0056b3;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.list-unstyled.custom-bullets>li {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 5px;
}

/* Ensure the links are white as per your className */
.list-unstyled.custom-bullets a.text-white {
  color: #fff;
  /* Assuming you are on a dark background and need white text */
  text-decoration: none;
  /* This will remove the underline from the links */
}

.list-unstyled.custom-bullets a.text-white:hover,
.list-unstyled.custom-bullets a.text-white:focus {
  text-decoration: underline;
  /* Restores underline on hover/focus for accessibility */
}

.copyright {
  background-color: #003366;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-family: 'Regular';
  font-size: 14px;
  margin-bottom: 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 80px 20px; */
  padding: 80px 0;
  color: #fff;
}

.hero-content h1 {
  font-size: 30px;
  margin-bottom: 0.5rem;
  color: #000;
  font-family: 'Md';
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #000;
}

.hero-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hero-button:hover {
  background-color: #fff;
  color: #000;
}

.hero-img {
  padding: 50px 0;
}

.hero-img img {
  height: 500px;
}

.left-verticla-wrapper {
  display: flex;
  align-items: center;
}

.who-we-are {
  background-color: #F2F2F2;
}

.who-we-are {
  padding: 50px;
  margin: 20px 0 50px 0;
}

.who-we-are h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'Lt';
}

.who-we-are p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  font-family: 'Lt';
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #0056b3;
}

.what-we-do-container {
  padding-top: 15px;
  padding-bottom: 50px;
}

.what-we-do-container .what-we-do {
  padding-left: 50px;
}

.what-we-do-container .what-we-do h2 {
  font-family: 'Lt';
  font-size: 30px;
}

.what-we-do-container .what-we-do p {
  font-family: 'Lt';
}

.what-we-do-container .what-we-do-right {
  background-color: #0056b3;
  padding: 10px 0;
  display: inline-block;
  max-width: 450px;
  min-width: 350px;
  margin-top: 50px;
  text-align: left;
  margin-right: 50px;
}




.what-we-do-table tr>td:first-child {
  padding: 6px 15px;
  padding-right: 15px;
}

.what-we-do-table b {
  color: #fff;
}

.what-we-do-container .my-col {
  padding-top: 30px;
}

.home-before-footer {
  padding-bottom: 50px;
}

.home-before-footer strong {
  font-size: 24px;
}

.banner-wrapper {
  padding: 20px 0 50px;
}

.banner-wrapper .header-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrapper .header-heading h1 {
  font-size: 35px;
  font-family: 'Md';
}

.banner-wrapper .header-heading p {
  font-size: 15px;
  font-family: 'Lt';
}

.p-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.dropdown-item a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Lt';
}

.journey-item-img {
  width: 80px;
  background-color: #F2F2F2;
  padding: 15px 15px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journey-item-row {
  margin-bottom: 15px;
}

.journey-item-content strong {
  font-size: 20px;
  font-family: 'Regular';
}

.journey-item-content p {
  font-size: 15px;
  font-family: 'Lt';
  color: #000;
}

.journey-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.create-data-wrapper {
  text-align: right !important;
  padding: 15px 0;
}

.pointer {
  cursor: pointer;
}

.client-tel-wrappwer,
.testimonial-wrappwer {
  background-color: #f2f2f2;
  padding-top: 15px;
  padding-bottom: 30px;
}

.client-tel-wrappwer {
  padding-left: 50px;
  padding-right: 50px;
}

.testimonial-wrappwer {
  background-color: transparent;
}

.testimonial-wrappwer .testimonial-box {
  background-color: #f2f2f2;
  padding: 50px 50px;
}

.testimonial-wrappwer .testimonial-box>.content {
  margin-top: 10px;
}

.testimonial-wrappwer .testimonial-box .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.testimonial-wrappwer .testimonial-box .header .content {
  line-height: 19px;
  font-weight: 300;
}



.testimonial-wrappwer .testimonial-box .content p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 20px;
  color: #8c8c8c;
}

.testimonial-wrappwer .testimonial-box .header .content * {
  display: block;
}

.testimonial-wrappwer .testimonial-box .header img {
  margin-right: 15px;
}

.client-tel-wrappwer h2,
.testimonial-wrappwer h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: 'Lt';
}

.testimonial-wrappwer {
  position: relative;
}

.testimonial-wrappwer .swiper-button-next,
.testimonial-wrappwer .swiper-button-prev {
  color: #000;
}

.testimonial-wrappwer .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translate(30px, -50%);
}

.testimonial-wrappwer .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translate(-30px, -50%);
}

.testimonial-wrappwer .swiper-button-next:after,
.testimonial-wrappwer .swiper-button-prev:after {
  font-size: 30px;
}

.client-section {
  margin-bottom: 50px;
  margin-top: 50px;
}

.experties-wrapper .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.experties-wrapper .box {
  width: calc(33.33% - 10px);
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.experties-wrapper .box>div>div {
  background-color: #f2f2f2;
  padding: 30px 30px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.experties-wrapper .box>div>span {
  display: block;
}

.experties-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.service-ul {
  list-style-type: disc;
  color: #0054A6;
  padding: 0 0 0 15px;
}

.service-ul>li {
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.service-ul>li>span {
  color: #000;
  width: 100%;
  display: block;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 8px;
  font-size: 26px;
}

.mb-15 {
  margin-bottom: 15px;
}

.spak-input {
  border-radius: 1px;
  min-height: 45px;
}

.spak-btn {
  border-radius: 2px;
  min-height: 45px;
  width: 100%;
  background-color: #0054A6;
}

.hr-btn {
  background-color: #0054A6;
  border-radius: 2px;
}

.h3 {
  font-size: 30px;
}

.connect-wrapper {
  padding-bottom: 40px;
  padding-top: 40px;
}

.connect-left-connect {
  padding-top: 15px;
}

.connect-left-connect p {
  margin-bottom: 10px;
  line-height: 20px;
}

.join-the-tale-wrapper {
  background-color: #f2f2f2;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.join-item {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.join-resposibility {
  padding-left: 30px;
  padding-top: 30px;
}

.join-resposibility>ul {
  padding: 0 0 0 15px;
  margin-bottom: 40px;
}

.form-control::file-selector-button {
  min-height: 45px;
}

.close-modal {
  text-align: right;
  padding: 0 0 15px 0;
}

.full-img {
  width: 100%;
}

.text-justify {
  text-align: justify !important;
}

.right-align {
  text-align: right !important;
}

.fixed-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0054A6 !important;
}

.dropdown-item:hover {
  color: #0054A6 !important;
  background-color: transparent !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent !important;
  color: #0054A6 !important;
  outline: 0;
}

.fixed-nav .nav-link,
.fixed-nav .nav-link:focus {
  color: #fff;
}

.nav-link,
.dropdown-item {
  font-family: 'Lt';
  font-weight: 900;
  letter-spacing: 0.5px;
}

.social-media {
  margin-top: 25px !important;
}

.hero-content {
  padding-left: 50px;
}

.recent-project-wrapper {
  padding: 15px 50px;
}

.recent-project-wrapper h2 {
  font-family: 'Lt';
  font-size: 30px;
}

.gallery-img>img {
  width: 400px;
  height: auto;
}

.light-gallery>.lg-react-element {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 15px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}